.about {
  background-color: $white-blue;

  &__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    z-index: 1;

    @include after($p768) {
      padding-top: 42px;
      padding-bottom: 42px;
    }

    @include after($p1025) {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    @include after($p1440) {
      padding-top: 105px;
      padding-bottom: 105px;
    }
  }

  &__content {
    @include after($p768) {
      display: flex;
      align-items: center;
    }
  }

  &__image-content {
    border-radius: 20px;
    overflow: hidden;
    height: 370px;
    display: block;

    img {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      object-position: 50%;
      border-radius: 20px;
      overflow: hidden;
    }

    @include after($p768) {
      width: calc(47% - 25px);
      margin-left: 25px;
    }

    @include after($p1025) {
      width: calc(54% - 25px);
    }

    @include after($p1440) {
      width: calc(51.5% - 25px);
    }
  }

  &__text-content {
    @include before($p768) {
      margin-bottom: 50px;
    }

    @include after($p768) {
      width: calc(53% - 25px);
      margin-right: 25px;
    }

    @include after($p1025) {
      width: calc(46% - 25px);
    }

    @include after($p1440) {
      width: calc(48.5% - 25px);
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;

    @include after($p768) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__item {
    display: flex;
  }

  &__item + .about__item {
    margin-top: 24px;
  }

  &__item-icon {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;

    @include after($p1025) {
      width: 48px;
      height: 48px;
    }
  }
}