$defaultFont: 'Poppins', 'Arial', sans-serif;

$p768: 768px;
$p1025: 1025px;
$p1440: 1440px;
$p1600: 1600px;

$black: #000000;
$white: #ffffff;
$white-blue: #F6F7FD;
$grey0: #DDDDDD;
$grey1: #9D9D9D;
$grey2: #606060;
$grey3: #333333;
$blue1: #7B80A2;
$blue2: #4B57A2;
$blue3: #262D53;
$red: #FF0000;
$green: #23C120;
